@import '../../../assets/style/variables';

.projectsNavigation {
  padding: 1rem 2rem;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_align-right {
      justify-content: flex-end;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $color-link;
    padding-bottom: 1rem;
  }

  &__linkArrow {
    margin: 0 1rem;
  }

  &__linkCaption {
    font-weight: 700;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .projectsNavigation {
    padding: 1rem 1rem;

    &__linkArrow {
      margin-left: 0;
    }
  }
}
