.generalInformation {
    background-color: #f8f9fb;
    padding: 50px 0 50px 0;
	padding-left: 20%;
	padding-right: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.generalInformation_header {
    margin-bottom: 70px;
}

.generalInformation__mainInformation {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.mainInformation__header {
    margin-bottom: 25px;
}

.generalInformation__personalInformation {
    display: flex;
    align-items: stretch;
    flex-direction: column;
	width: 40%;
}

.generalInformation__bio {
    width: 45%;
}