.generalInformationHeader {
    display: flex;
	justify-content: center;
    align-items: center;
    width: 100%;
}

.avatar__image {
    width: 300px;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.52);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.52);
}

.avatar__filter {
    -webkit-filter: contrast(66%) brightness(73%) sepia(17%);
    filter: contrast(66%) brightness(73%) sepia(17%);
}

.generalInformationHeader_side {
    width: 100%;
}

.generalInformationHeader__head {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.29);
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.29);
    padding: 15px 0 15px 50px;
	width: 100%;
	margin-bottom: 8px;
}

.generalInformationHeader__name {
	color: #232323;
}

.generalInformationHeader__position {
	font-weight: 200;
	color: #656565;
}

.generalInformationHeader__socialMedia {
    padding-left: 50px;
}

.generalInformationHeader__placeHolder {
	height: 185px;
}