.generalInformationHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.avatar__image {
  width: 300px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.52);
}

.avatar__filter {
  filter: contrast(66%) brightness(73%) sepia(17%);
}

.generalInformationHeader_side {
  width: 100%;
}

.generalInformationHeader__head {
  background-color: #ffffff;
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.29);
  padding: 15px 50px 15px 50px;
  width: 100%;
  margin-bottom: 8px;
}

.generalInformationHeader__name {
  color: #232323;
}

.generalInformationHeader__position {
  font-weight: 200;
  color: #656565;
}

.generalInformationHeader__socialMedia {
  padding-left: 50px;
}

.generalInformationHeader__placeHolder {
  height: 185px;
}

@media only screen and (max-width: 768px) {
  .generalInformationHeader {
    flex-wrap: wrap;
  }

  .generalInformationHeader__placeHolder {
    display: none;
  }

  .generalInformationHeader__head {
    width: calc(100% - 100px);
  }
}

@media only screen and (max-width: 480px) {
  .generalInformationHeader_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .generalInformationHeader__head {
    padding: 15px;
    width: calc(100% - 30px);
  }

  .generalInformationHeader__socialMedia {
    padding-left: 0;
  }
}
