sudo: required

services:
  - docker
language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
script:
  - npm test
  - npm run build
after_success:
  - sh .travis/deploy_dockerhub.sh