@import '../../assets/style/keyframes';

.projectsSection {
  padding: 30px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.projectsSection__header {
  align-self: center;
  margin-bottom: 25px;
}

.projectsSection__content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
