.smButton {
  padding: 7px;
  font-size: 8px;
  width: 8px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.smButton:hover {
  opacity: 0.7;
}

.smButton__text_hidden {
  display: none;
}

.smButton_linkedin {
  background-color: #007bb5;
  color: white;
}

.smButton_facebook {
  background-color: #3b5998;
  color: white;
}

.smButton_vk {
  background-color: #45668e;
  color: white;
}

.smButton_instagram {
  background-color: #125688;
  color: white;
}

.smButton_github {
  font-size: 23px;
  width: 23px;
  padding: 0;
  padding-top: 3px;
}
