.socialMediaButton {
  &__icon {
    width: 36px;
    height: 36px;
    display: block;
    background-position: center;
    background-size: contain;
    transition: all 300ms ease-in-out;

    &:hover {
      transform: scale(1.25);
    }

    &-linkedin {
      background-image: url('../../assets/icons/icon_linkedin-blank.svg');

      &:hover {
        background-image: url('../../assets/icons/icon_linkedin-filled.svg');
      }
    }

    &-github {
      background-image: url('../../assets/icons/icon_github-blank.svg');

      &:hover {
        background-image: url('../../assets/icons/icon_github-filled.svg');
      }
    }

    &-instagram {
      background-image: url('../../assets/icons/icon_instagram-blank.svg');

      &:hover {
        background-image: url('../../assets/icons/icon_instagram-filled.svg');
      }
    }

    &-telegram {
      background-image: url('../../assets/icons/icon_telegram-blank.png');

      &:hover {
        background-image: url('../../assets/icons/icon_telegram-filled.png');
      }
    }

    &-facebook {
      background-image: url('../../assets/icons/icon_facebook-blank.svg');

      &:hover {
        background-image: url('../../assets/icons/icon_facebook-filled.svg');
      }
    }

    &-vk {
      background-image: url('../../assets/icons/icon_vk-blank.svg');

      &:hover {
        background-image: url('../../assets/icons/icon_vk-filled.svg');
      }
    }
  }
}
