@import '../../../assets/style/variables';
@import '../../../assets/style/mixins';

.aboutSection {
  &__title {
    @include respond(tablet) {
      margin: 0.5rem 0;
    }
  }

  &__subtitle {
    @include respond(tablet) {
    }
  }

  &__introduction {
    margin: 3rem;

    @include respond(tablet) {
      margin: 0 3rem;
    }
  }

  &__introductionParagraph {
    margin: 1.5rem 0;
    text-align: justify;
  }

  &__rightColumn {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__availabilityLabel {
    font-size: 1.8rem;

    @include respond(tablet) {
      font-size: 1.4rem;
    }
  }

  &__availabilityDate {
    font-size: 1.6rem;
    font-style: italic;
  }

  &__titleText {
    display: none;

    @include respond(tablet) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 2rem 1rem;
      text-align: right;
    }
  }

  &__resumeLink {
    @include respond(tablet) {
      color: $color-link;
      text-decoration: none;
      display: flex;
      align-items: flex-end;
      font-size: 0.8rem;
      font-weight: 700;
      margin: 1rem 0;

      &::after {
        content: '';
        width: 12px;
        height: 12px;
        margin-left: 4px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../../../assets/icons/icon_externalResource.svg');
      }
    }
  }
}
