.skillsSection {
    padding: 30px 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
}

.skillsSection__header {
    align-self: center;
    margin-bottom: 25px;
}

.skillsSection__content {
    display: flex;
	justify-content: space-around;
	align-items: stretch;
}

.skillsContent__skills {
    background-color: #0f82f9;
	color: white;
	width: 60%;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	-webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.29);
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.29);
}

.skillsContent__languages {
    width: 30%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

@media only screen and (max-width : 768px) {

	.skillsSection__content {
		flex-direction: column;
	}

	.skillsContent__skills {
		width: calc(100% - 60px);
		margin-bottom: 10px;
	}

	.skillsContent__languages {
		width: 100%;
	}
}