.maintenanceModeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 50px;
  background: url(background.png);
  background-size: cover;
}

.maintenanceModeContainer__contactForm {
  width: 30%;
  height: 90%;
}

.maintenanceModeContainer__imageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.maintainImage_message {
  width: 40%;
}

.maintainImage_arrowSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.maintainImage_arrow {
  width: 10%;
  margin-right: 15px;
}

.maintainImage_arrowText {
  width: 60%;
}
