.maintenanceModeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 50px;
  background: url(background.png);
  background-size: cover;
}

.maintenanceModeContainer__contactForm {
  width: 30%;
  height: 90%;
}

.maintenanceModeContainer__imageSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.maintainImage_message {
  width: 40%;
}

.maintainImage_arrowSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.maintainImage_arrow {
  width: 5%;
  margin-right: 8px;
}

.maintainImage_arrowText {
  width: 50%;
}

@media only screen and (max-width: 1024px) {
  .maintenanceModeContainer {
    padding: 15px 0;
    flex-direction: column-reverse;
  }

  .maintenanceModeContainer__contactForm {
    width: 75%;
    height: 65%;
  }

  .maintenanceModeContainer__imageSection {
    width: 100%;
    padding: 0 10%;
  }

  .maintainImage_message {
    width: 80%;
  }

  .maintainImage_arrowSection {
    flex-direction: column-reverse;
  }

  .maintainImage_arrowText {
    width: 90%;
  }

  .maintainImage_arrow {
    transform: rotate(-90deg);
    width: 8%;
  }
}
