@import '../../assets/style/variables';
@import '../../assets/style/mixins';

.experienceTimelineSection {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  background-color: $color-surface;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    color: $color-grey;
    font-size: 18pt;

    @include respond(tablet) {
      font-size: 15pt;
    }
  }

  &__timeline {
    position: relative;
    padding: 25px 0;
  }

  &__timeline::before {
    content: '';
    position: absolute;
    width: 2px;
    background-color: $color-grey;
    top: 0;
    left: 50%;
    bottom: 150%;
    animation: timelineLine 1500ms ease-in-out forwards;

    @include respond(tablet) {
      left: 15%;
    }
  }

  @keyframes timelineLine {
    from {
      bottom: 150%;
    }
    to {
      bottom: 0;
    }
  }
}
