.headMenu {
  width: 100%;
  height: 15%;
  min-height: 35px;
  background-color: #424242;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.4s ease;
}

.headMenu_scrolled {
  padding: 12px 30px;
  height: 5vh;
  position: fixed;
  top: 0;
  opacity: 0.7;
  z-index: 2;
}

.headMenu__logo {
  width: 0;
  transition: all 0.4s ease;
}

.headMenu__logo_scrolled {
  width: 7%;
}

.headMenu__list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
}

.headMenu__list_scrolled {
  width: 66%;
  transition: all 0.4s ease;
}

.headMenu__listItem {
  font-weight: lighter;
  width: 25%;
  text-align: center;
}

.headMenu__link {
  color: white;
  text-decoration: none;
}

.headMenu__link:visited {
  color: white;
  text-decoration: none;
}

.headMenu__link_selected {
  font-weight: bold;
  border-bottom: #dddddd solid 1px;
}

@media only screen and (max-width: 480px) {
  .headMenu__list {
    display: none;
  }
}
