.headMenu {
    background-color: #0f82f9;
}

.headMenu__list {
    display: flex;
	justify-content: space-around;
	padding: 8px 0 8px 25px;
    width: 60%;
    list-style-type: none;
}

.headMenu__listItem {
	font-weight: lighter;
}

.headMenu__listItem_selected {
    font-weight: bolder;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.headMenu__link {
    color: white;
    text-decoration: none;
}

.headMenu__link:visited {
    color: white;
    text-decoration: none;
}