@import '../../../assets/style/variables';
@import '../../../assets/style/mixins';

.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  background: url('https://res.cloudinary.com/oleksiikachan/image/upload/v1558643461/portfolio/images/contact_background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);

  @include respond(tablet) {
    padding: 1rem 0;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.1);
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__content {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 80%;

    @include respond(tablet) {
      flex-direction: column;
      align-items: center;
      width: 90%;
    }
  }

  &__contactColumn {
    width: 40%;

    @include respond(tablet) {
      width: 100%;
      font-size: 0.8rem;
    }
  }
}
