@import '../../assets/style/variables';
@import '../../assets/style/mixins';

.modal {
  max-height: 95vh;
  overflow: overlay;
  position: fixed;
  background-color: $color-black;
  color: $color-white;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.29);

  @include respond(tablet) {
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
  }
}

.modal__closeButton {
  float: right;
  margin: 10px;
  transition: all 300ms ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }
}
