.experienceTimelineSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__timeline {
    width: 90%;
    padding: 25px 0;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
  }

  &__timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #474e5d;
    top: 0;
    left: 50%;
    margin-left: -3px;
    bottom: 150%;
    animation: timelineLine 1000ms ease-in-out forwards;
  }

  @keyframes timelineLine {
    from {
      bottom: 150%;
    }
    to {
      bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .experienceTimelineSection__timeline::after {
    left: 31px;
  }
}
