.contactFormContainer {
  background: rgba(66, 66, 66, 0.8);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  padding: 25px 40px;
}

.contactFormContainer__title {
  margin: 0 0 30px;
  padding: 0;
  color: #ddd;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: 85%;
}

.contactForm__field {
  position: relative;
}

.contactForm__input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #ddd;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  background: transparent;
  letter-spacing: 1px;
}

.contactForm__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 14px;
  color: #ddd;
  pointer-events: none;
  transition: 0.5s;
  letter-spacing: 1px;
}

.contactForm__input:focus ~ .contactForm__label,
.contactForm__input:valid ~ .contactForm__label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 10px;
}

.contactForm__submitButton {
  background: #d5d288;
  border: none;
  outline: none;
  color: #424242;
  font-weight: bolder;
  padding: 14px 20px;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
