.header {
    display: flex;
    flex-direction: column;
    color: white;
}

.headContent {
    height: 450px;
    width: 100%;
    background-image: url('../../images/header.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.headContent__filter {
    background-color: #0f82f9;
    opacity: 0.7;
    height: 100%;	
    display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 16%;
}

.headTitle {
    margin-bottom: 40px;
}

.headTitle__title {
	font-weight: 200;
}

.actionButton{
	background-color: transparent;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 1px solid #ffffff;
	cursor: pointer;
	color: #ffffff;
	font-size: 13px;
	padding: 6px 20px;
	font-weight: lighter;
	text-decoration:none;
}