@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pop-10 {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes popOnHover-enter-15 {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.15);
  }
}

@keyframes popOnHover-leave-15 {
  from {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}

@keyframes popOnHover-enter-3 {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.35);
  }
  100% {
    transform: scale(1.3);
  }
}

@keyframes popOnHover-leave-3 {
  from {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fromLeftToCenter {
  0% {
    transform: translateX(-100%);
  }
  80% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fromLeftToCenter-noPop {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fromRightToCenter {
  0% {
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fromRightToCenter-noPop {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fromBottomToCenter {
  0% {
    transform: translateY(100%);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fromTopToCenter {
  0% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes widthGrow {
  0% {
    width: 0;
  }
  80% {
    width: 130%;
  }
  100% {
    width: 120%;
    transform: translateX(-10%);
  }
}
