@import './variables';
@import './mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $body-font;
}

h1,
h2,
h3 {
  font-family: $head-font;
}

h1 {
  @include respond(tablet) {
    font-size: 1.2rem;
  }
}

h2 {
  @include respond(tablet) {
    font-size: 1rem;
  }
}
