.footer{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	margin-top: 80px;
}

.footer__linksSection{
	float: right;
	margin-top: 6px;
}

.footer__link{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

.footer__logo {
	width: 30%;
}


@media (max-width: 600px) {

	.footer__section{
		text-align: center;
	}

	.footer__linksSection{
		float: none;
		margin: 0 auto 20px;
	}
}