@import '../../assets/style/variables';
@import '../../assets/style/mixins';

.footerWrapper {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: '';
    height: 1px;
    background-color: $color-black;
    width: 95%;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;

  @include respond(tablet) {
    padding: 2rem 0;
    justify-content: center;
  }

  &__logoWrapper {
    @include respond(tablet) {
      display: none;
    }
  }

  &__logo {
    width: 40%;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__contactsList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    @include respond(tablet) {
      margin: 1rem;
      align-items: center;
    }
  }

  &__contactsItem {
    margin: 0.5rem;
    font-size: 0.8rem;
  }

  &__smLinks {
    display: flex;
    margin-bottom: 1.2rem;
  }

  &__smButton {
    margin: 0 0.5rem;
  }
}
