@import '../../assets/style/variables';

.outlineButton {
  border: 2px solid $color-gold;
  background: transparent;
  padding: 10px 25px;
  color: $color-white;
  font-weight: 300;
  cursor: pointer;

  &:hover {
    background: $color-gold;
    font-weight: 500;
    color: #fff;
  }
}
