@import '../../../../assets/style/variables';
@import '../../../../assets/style/mixins';

.projectCard {
  overflow: hidden;
  display: flex;

  @include respond(tablet) {
    display: flex;
    justify-content: stretch;
    width: 100%;
  }

  &__coverImage {
    width: 500px;

    @include respond(tablet) {
      display: none;
    }
  }

  &__projectInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1rem;
    text-align: center;

    @include respond(tablet) {
      padding: 1rem;
    }
  }

  &__title {
    letter-spacing: 0.05ch;

    @include respond(tablet) {
      padding: 0;
      font-size: 0.85rem;
    }
  }

  &__stackList {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    align-items: center;

    @include respond(tablet) {
      display: none;
    }
  }

  &__stackItem {
    margin: 0.2rem;
  }

  &__description {
    font-size: 1rem;
    letter-spacing: 0.01ch;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 1.8rem 0;
  }
}
