@import '../../../../assets/style/variables';
@import '../../../../assets/style/mixins';

.projectCard {
  overflow: hidden;
  display: flex;

  &__coverImage {
    height: 100%;
    width: 60%;
  }

  &__projectInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
  }

  &__title {
    padding: 1rem 0;
    letter-spacing: 0.05ch;

    @include respond(tablet) {
      padding: 0;
      font-size: 0.9rem;
    }
  }

  &__stackList {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;

    @include respond(tablet) {
      display: none;
    }
  }

  &__description {
    font-size: 1rem;
    letter-spacing: 0.01ch;
    font-weight: 400;
    padding: 1.8rem 0;
  }

  &__button {
    padding-top: 3rem;
    color: white;
  }
}
