.paragraphField {
  &__content {
    margin: 1.3rem 0;
  }

  &__listHeader {
    margin-bottom: 0.75rem;
    font-style: italic;
    font-size: 1.1rem;
  }

  &__list {
    list-style: none;
  }

  &__listItem {
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
    font-size: 1rem;

    &::before {
      content: '';
      width: 16px;
      min-width: 16px;
      height: 16px;
      margin-right: 12px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('../../../assets/icons/icon_list-checked.svg');
    }
  }
}
