@import '../../assets/style/variables';

.outlineButton {
  border: 2px solid;
  background: transparent;
  padding: 10px 25px;
  font-weight: 300;
  cursor: pointer;
  transition: all 200ms ease-in-out;

  &_gold {
    border-color: $color-gold;
    color: $color-white;

    &:hover {
      background: $color-gold;
      color: $color-surface;
    }
  }

  &_white {
    border-color: $color-surface;
    color: $color-surface;

    &:hover {
      border-color: $color-surface;
      background: $color-surface;
      color: $color-black;
      font-weight: 400;
    }
  }

  &_dark {
    border-color: $color-grey;
    color: $color-grey;

    &:hover {
      background: $color-grey;
      color: $color-surface;
    }
  }

  &:hover {
    font-weight: 500;
  }
}
