@import '../../../assets/style/variables';
@import '../../../assets/style/mixins';

.contactForm {
  background: rgba(66, 66, 66, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  padding: 1.6rem 2rem;

  &__title {
    margin-bottom: 1.5rem;
    color: $color-white;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 85%;
  }
}
